.container {
  position: relative;
  min-height: 100vh;
  background: #FFFBEA;
}

.mainContent {
  padding-top: 8rem;
  padding-left: 6rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
}

.welcomeSection {
  margin-bottom: 2rem;
}

.welcomeTitle {
  font-size: 2rem;
  font-weight: 300;
}

.welcomeName {
  font-weight: 900;
}

.welcomeSubtitle {
  font-size: 1.25rem;
  margin-top: 0.5rem;
}

.feedBlogs {
  display: flex;
  gap: 2rem;
}
