.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: #FF9800;
  z-index: 40;
  box-shadow: 2px 0 8px rgba(0,0,0,0.05);
  transition: width 0.3s;
}

.sidebarClosed {
  width: 0.5rem;
}

.sidebarOpen {
  width: 4rem;
}
